In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/hr_workforce_clean.csv')
df.head()

,employee_id,first_name,last_name,gender,state,city,education_level,birthdate,hiredate,termdate,department
0,NaN,First Name,Last Name,Female,New York,New York City,Education Level,1980-02-13,2016-04-16,2021-07-05,Customer Service
1,NaN,First Name,Last Name,Male,North Carolina,Charlotte,Education Level,1987-09-22,2017-02-09,2019-06-14,IT
2,NaN,First Name,Last Name,Male,New York,New York City,Education Level,1994-05-19,2016-02-03,2021-03-06,Operations
3,NaN,First Name,Last Name,Male,New York,New York City,Education Level,1980-04-18,2016-02-06,2018-11-06,Operations
4,NaN,First Name,Last Name,Female,New York,New York City,Education Level,1985-04-07,2015-01-11,NaN,Operations

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['employee_id'] = range(1, len(df) + 1)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['birthdate'] = pd.to_datetime(df['birthdate'], dayfirst=True, errors='coerce')
df['hiredate'] = pd.to_datetime(df['hiredate'], dayfirst=True, errors='coerce')
df['termdate'] = pd.to_datetime(df['termdate'], dayfirst=True, errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_id      0 non-null      float64
 1   first_name       1000 non-null   object
 2   last_name        1000 non-null   object
 3   gender           1000 non-null   object
 4   state            1000 non-null   object
 5   city             1000 non-null   object
 6   education_level  1000 non-null   object
 7   birthdate        1000 non-null   datetime64[ns]
 8   hiredate         1000 non-null   datetime64[ns]
 9   termdate         380 non-null    datetime64[ns]
 10  department       1000 non-null   object
dtypes: datetime64[ns](3), float64(1), object(7)
memory usage: 86.1+ KB

/tmp/ipython-input-1472605438.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['birthdate'] = pd.to_datetime(df['birthdate'], dayfirst=True, errors='coerce')
/tmp/ipython-input-1472605438.py:2: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['hiredate'] = pd.to_datetime(df['hiredate'], dayfirst=True, errors='coerce')

In [ ]:
today = pd.to_datetime("today")

df['age'] = ((today - df['birthdate']).dt.days / 365).round(1)

In [ ]:
df['end_date'] = df['termdate'].fillna(today)

df['tenure_years'] = ((df['end_date'] - df['hiredate']).dt.days / 365).round(1)

In [ ]:
df['employment_status'] = df['termdate'].apply(
    lambda x: 'Active' if pd.isna(x) else 'Terminated'
)

In [ ]:
df['gender'] = df['gender'].replace({
    'M': 'Male',
    'F': 'Female'
})

In [ ]:
df[['age', 'tenure_years', 'employment_status', 'gender']].head(10)

    age  tenure_years employment_status  gender
0  46.0           5.1        Terminated  Female
1  38.3           8.9            Active    Male
2  31.7           5.3        Terminated    Male
3  45.8           2.3        Terminated    Male
4  40.8          11.0            Active  Female
5  37.7           3.3            Active  Female
6  34.5           1.3        Terminated    Male
7  30.3           3.2            Active  Female
8  23.7           8.7            Active    Male
9  45.2           7.2            Active  Female

In [ ]:
# حذف الأعمدة المؤقتة
df.drop(columns=['end_date'], inplace=True)

# ترتيب الأعمدة (اختياري لكنه احترافي)
cols = [
    'employee_id', 'first_name', 'last_name', 'gender',
    'age', 'education_level', 'department',
    'state', 'city',
    'hiredate', 'termdate',
    'tenure_years', 'employment_status'
]

df = df[cols]

In [ ]:
df.to_csv('/content/hr_final_clean.csv', index=False)